---
layout: archive
title: "Projects"
permalink: /Projects/
author_profile: true
---

{% include base_path %}

<h2><a href="https://zikun-li.github.io/Projects/wavingsketch">WavingSketch: An Unbiased and Generic Sketch for Finding
        Top-k Items in Data Streams</a>
</h2>

<img src="/images/struct.png" style="float:right;" height="250px" />

Finding top-kitems in data streams is a fundamental problem in data mining. Existing algorithms that can achieve
unbiased estimation suffer from poor accuracy. In this paper, we propose a newsketch, WavingSketch, which is much more
accurate
than exist-ing unbiased algorithms. WavingSketch is generic, and we showhow it can be applied to four applications:
finding top-kfrequentitems, finding top-kheavy changes, finding top-kpersistent items,and finding top-kSuper-Spreaders.
We theoretically prove thatWavingSketch can provide unbiased estimation, and then give anerror bound of our algorithm.
Our experimental results show that,compared with the state-of-the-art, WavingSketch has4.50timeshigher insertion speed
and up to9×106times (2×104times inaverage) lower error rate in finding frequent items when memorysize is tight. For
other applications, WavingSketch can also achieveup to286times lower error rate.


<h2>SQL-Gen</h2>

<h2>PKURanking</h2>
​

{% for post in site.Projects %}
{% include archive-single.html %}
{% endfor %}