---
layout: archive
title: "Projects"
permalink: /Projects/
author_profile: true
---

{% include base_path %}

<h2>Quartz: Superoptimization of Quantum Circuits</h2>

<img src="/images/quartz.jpg" style="float:right;width:500px;" />

Existing quantum compilers optimize quantum circuits by applying circuit transformations designed by experts. This
approach requires significant manual effort to design and implement circuit transformations for different quantum
devices, which use different gate sets, and can miss subtle optimizations that are hard to find manually.
We propose Quartz, a quantum circuit superoptimizer that automatically generates and verifies circuit transformations
for arbitrary quantum gate sets. Given a gate set, Quartz generates possible circuit transformations by enumerating
small circuits over the given gate set, and verifies them with a automated theorm solver. Quartz then applies the
verified transformations to optimize quantum circuits.
Evaluation shows that the transformations generated and verified by Quartz cover the manually designed ones used by
existing optimizers, and Quartz's optimizer matches the performance of existing optimizers on one gate set for which
they are tuned, and outperforms them on the two other gate sets.

<h2>WavingSketch: An Unbiased and Generic Sketch for Finding Top-k Items in Data Streams</h2>

<img src="/images/struct.png" style="float:right;width:500px;" />

Finding top-k items in data streams is a fundamental problem in data stream mining. Existing algorithms that can achieve
unbiased estimation suffer from poor accuracy. We propose WavingSketch, which is unbiased, accurate, generic and fast.
It has four primary use cases: finding top-k frequentitems, finding heavy changes, finding persistent items,and finding
Super-Spreaders.
Experimental results show that, compared with the SOTA, WavingSketch has 4.50 times higher
insertion speed and up to 9×10^6 times (2×10^4 times in average) lower error rate in finding frequent items with limited
memory.

<h2>BurstSketch: Finding Bursts in Data Streams</h2>

<img src="/images/burstsketch.png" style="float:right;width:500px;" />

Burst is a common pattern in data streams and burst detection has attracted extensive attention from the research
community. We propose BurstSketch to detect bursts accurately in real time. BurstSketch uses the
technique Running Track to select potential burst items efficiently, and it monitors the potential burst items and
capture burst pattern by a technique called Snapshotting. Experimental results show that our algorithm
achieves a 1.75 times higher recall rate than the strawman solution.

<h2>SQL-Gen: An efficient SQL query generation framework for automated feature engineering</h2>

<img src="/images/SQL-Gen.jpg" style="float:right;width:500px;" />

Feature engineering is a highly time-consuming process in data science, and it takes data scientists much effort to
construct effective features that boost the performance of machine learning models. Prior works that try to automate
feature engineering suffer from huge time and computational cost. We design SQL-Gen which is aimed at
generating optimal features automatically and efficiently for machine learning models. Specifically, SQL-Gen generates
SQL statements that select features from relational databases. In the core of SQL-Gen, we adopt the idea of
hyper-parameter tuning and transfer learning. In evaluation, SQL-Gen beats prior works largely in terms of the
performance of the machine learning models and also in terms of time and computational costs.

<!-- <h2>PKURanking</h2>

<img src="/images/pkuranking.jpg" style="float:right;width:500px;" />

<a href="http://pkuranking.com">PKURanking</a> is a website inspired by <a href="http://csrankings.org">csrankings</a>.
Our motivations are similar: we both aim at helping motivated students find research advisors.
However, PKURanking offers more. Apart from ranking, we also provide more fine-grained visualizations on publication and
citation data. What's more, we provide a publication list for every faculty member, so that students can get a whole
picture
about their past and recent works. If they are interested in some papers and are willing to delve deeper, they can get
access to these paper directly since we provide URLs. We also integrated a handy search engine supporting structured
queries into our page, making it even easier to gain valuable insight from our database. Currently, we are developing a
service that help students build and deploy
their academic homepages, and we are considering to construct a user network to help them establish connections.
And in the future, we plan to add a section where teachers can release research opportunities.
We want to establish PKURanking into a platform where information get efficiently exchanged. We will continuously
upgrading it, and hope that our effort will make some change. -->

{% for post in site.Projects %}
{% include archive-single.html %}
{% endfor %}