---
layout: archive
title: "Projects"
permalink: /Projects/
author_profile: true
---

{% include base_path %}

<h2>BurstSketch: Finding Bursts in Data Streams</h2>

<img src="/images/burstsketch.png" style="float:right;width:500px;" />

Burst is a common pattern in data streams which is characterized by a sudden increase in terms of arrival rate followed
by
a sudden decrease. Burst detection has attracted extensive attention from the research community. In this paper, we
propose a novel sketch, namely BurstSketch, to detect bursts accurately in real time. BurstSketch first uses the
technique Running Track to select potential burst items efficiently, and then monitors the potential burst items and
capture the key features of burst pattern by a technique called Snapshotting. Experimental results show that our sketch
achieves a 1.75 times higher recall rate than the strawman solution.

<h2><a href="https://zikun-li.github.io/Projects/wavingsketch">WavingSketch: An Unbiased and Generic Sketch for Finding
                Top-k Items in Data Streams</a>
</h2>

<img src="/images/struct.png" style="float:right;width:500px;" />

Finding top-kitems in data streams is a fundamental problem in data stream mining. Existing algorithms that can achieve
unbiased estimation suffer from poor accuracy. In this paper, we propose a new sketch, WavingSketch, which is much more
accurate
than existing unbiased algorithms. WavingSketch is generic for it can be applied to four applications:
finding top-k frequentitems, finding top-k heavy changes, finding top-k persistent items,and finding top-k
Super-Spreaders.
We theoretically prove that WavingSketch can provide unbiased estimation, and then give an error bound of our algorithm.
Our experimental results show that,compared with the state-of-the-art, WavingSketch has 4.50 times higher insertion
speed
and up to 9×10^6 times (2×10^4 times in average) lower error rate in finding frequent items when memory size is tight.
For
other applications, WavingSketch can also achieve up to 286 times lower error rate.


<h2>SQL-Gen: An efficient SQL query generation framework for automated feature engineering</h2>

<img src="/images/SQL-Gen.jpg" style="float:right;width:500px;" />

Feature engineering is a highly time-consuming process in data science, and it takes data scientists much effort to
construct effective features that boost the performance of machine learning models. Prior works that try to automate
feature engineering suffer from huge time and computational cost. In this case, we design SQL-Gen. Our work is aimed at
generating optimal features automatically and efficiently for machine learning models. To be specific, SQL-Gen generates
SQL statements that select features from relational databases, and it supports multiple clauses and aggregation
functions so as to enlarge the search space. In the algorithm side, we adopt the idea of hyper-parameter tuning, and
also integrated transfer learning into our solution. Our algorithm is efficient, because it is able to model the
feature space with a minimum number of trials. In evaluation, SQL-Gen beats prior works largely in terms of the
performance of the machine learning models and also in terms of time and computational costs.

<h2>CNN Acceleration with FPGA</h2>

<h2>PKURanking</h2>

<img src="/images/pkuranking.jpg" style="float:right;width:500px;" />

<a href="http://pkuranking.com">PKURanking</a> is a website inspired by <a href="http://csrankings.org">csrankings</a>.
Our motivations are similar: we both aim at helping motivated students find research advisors.
However, PKURanking offers more. Apart from ranking, we also provide more fine-grained visualizations on publication and
citation data. What's more, we provide a publication list for every faculty member, so that students can get a whole
picture
about their past and recent works. If they are interested in some papers and are willing to delve deeper, they can get
access to these paper directly since we provide URLs. We also integrated a handy search engine supporting structured
queries into our page, making it even easier to gain valuable insight from our database. Currently, we are developing a
service that help students build and deploy
their academic homepages, and we are considering to construct a user network to help them establish connections.
And in the future, we plan to add a section where teachers can release research opportunities.
We want to establish PKURanking into a platform where information get efficiently exchanged. We will continuously
upgrading it, and hope that our effort will make some change.



<h2>Other Interesting Projects</h2>

<h3>Accelerate Hines Algorithm with GPU</h3>

Hines algorithm is a widely-used algorithm in computational neuroscience. In this project, I devised an mechanism to
utilize GPU to parallelize Hines algorithm. Hines algorithm involves conducting computation on a tree structure. I
paralize the process by dividing the tree into branches with CPU and conducting the computation on branches with
GPU. The reason is that computation on branches with same depth can be done simultaneously. After GPU finish computing,
I use CPU to merge the results. My mechanism lowers the latency by at most 12.4 times.

{% for post in site.Projects %}
{% include archive-single.html %}
{% endfor %}